.content{
  font-family: 'Noto Sans KR', sans-serif;
}

.content_header{
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'BMJUA';
}

.board_table{
  width: 940px;
}

.w_search{
  float: left;
  height: 38px;
  margin-right: 5px;
}

.w_search_text{
  width: 300px;
}

.table_margin{
  margin-top: -15px;
}

.view_btn{
  text-decoration: inherit; 
  color: black;
}

.form-select{
  width: 130px;
}

#w_btn{
  float: right;
  width: 100px;
  font-size: 16px;
  margin-bottom: 13px;
}

.page-link {
    color: #000; 
    background-color: #fff;
    border: 1px solid #ccc; 
}
  
.page-item.active .page-link {
   z-index: 1;
   color: #555;
   font-weight:bold;
   background-color: #f1f1f1;
   border-color: #ccc;
   
}
  
.page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa; 
    border-color: #ccc;
}


