@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;
    background-color: #fffefc;
}

.c_div{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup {
	 width: 100%;
    border: 1px solid rgb(213, 211, 211);
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.212);
    box-sizing: border-box;
}
.signup span {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: 10px;
}
.signup input[type=text],
.signup input[type=email] {
    width: 90%;
    padding: 13px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.signup input::placeholder {
    opacity: 1;
    transition: 0.3s;
}
.signup input:focus::placeholder {
    opacity: 0;
}

#btn1 {
    width: 35%;
    padding: 5px;
    background-color: #646768;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
}