body{
	background-color: #fffefc;
}
.content_header{ 
    font-size: 40px;
    font-family: 'BMJUA';
}
.for_search{
    margin-right: 5px;
}
.table_margin{
    margin-top: -13px;
}
.form-control{
    width: 200px;
}