.container {
    margin-bottom: 70px;
    /* width: 70%; */
}

.content_header {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-family: 'BMJUA';
}  
 
form {
    margin-top: 30px;
}

.title {
    margin-top: 35px;
}

.btn { 
    margin-left: 5px;
    margin-top: 10px;
}