.content{
  
}

.content_header{
  	margin-bottom: 10px;
  	font-size: 40px;
  	font-family: 'BMJUA';
}

.mypage_table{
	font-family: 'Noto Sans KR', sans-serif;
  	width: 90%;
}

.table_margin{
  	margin-top: -15px;
}

#check_btn{
	font-size: 0.7rem;
}

#m_btn{
  	float: right;
  	font-size: 0.8rem;
}

#c_btn{
  float: right;
  font-size: 0.8rem;
}