body{
	background-color: #fffefc;
}
.content_header{
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'BMJUA';
}

.mypage_table{
font-family: 'Noto Sans KR', sans-serif;
}

.table_margin{
  margin-top: -15px;
}

#m_btn{
  /* float: right; */
  font-size: 0.8rem;
}

#q_btn{
  /* float: left; */
  font-size: 0.8rem;
}