.contents {
    width: 940px;
    /* background-color: antiquewhite; */
}

.content_header {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'BMJUA';
}

.beverage_name {
    margin-top: 15px;
    height: 30px;
}

tr {
    padding-top: 5px;
    padding-bottom: 5px;
}

.w_search {
    height: 38px;
    width: 180px;
    margin-right: 5px;
}

.w_search_text {
    margin-right: 5px;
    width: 180px;
}