.custom__table{
    font-family: 'Noto Sans KR', sans-serif;
}
/* body{
	margin-left: 10px;
	margin-right: 10px;
	
} */
.content{
	
    border-radius: 20px;
    font-family: 'BMJUA';
}
.content_header{
    margin-bottom: 10px;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'BMJUA';
    text-align: center;
 }
.list-group-item{
	
}
.Beverage_name{
    font-family: 'BMJUA'; 
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

#beverage_img{
/*     float: left; */
    /* margin-right: 100px; */
    /* width: 35%; */
    
}

.custom_text{
/* 	float: right; */
}

/* #size_li{
    margin-top: 20px;
}

#shot_li{
    margin-top: 10px;
}

#syrup_li{
    margin-top: 10px;
}

#milk_li{
    margin-top: 10px;
}

#ice_li{
    margin-top: 10px;
}

#whippedcream_li{
    margin-top: 10px;
} */

.li_label{
    font-size: 1.25rem;
    /* margin-right: 5px; */
}

.form-select{
	font-size: 1.2rem;
}

.text_result{

    width: 100%;
    /* height: 50%;  */
    border-style: solid;
    border-radius: 8px;
    /* border-color: gray; */
    font-size: 2rem;
    text-align : center;
    font-family: 'BMJUA';

}

.recipe_btn{
    float: right;
    margin-top: 10px;
    margin-right: 1%;
}